<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Lec02 Get!</h1>
  <a>エントリー</a>


  <div th:if="${entry}">
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>

  <div>
    [[${login_user}]]
  </div>

  <p>

    <a href="gu">ぐー</a>
    <a href="ch">ちょき</a>
    <a href="pa">ぱー</a>
  </p>
  <div th:if="${JResult}">
    <a>あなたの手 [[${player}]]</a><br>
    <a>相手の手 [[${cpu}]]</a><br>
    <a>結果 [[${JResult}]]</a><br>
  </div>
</body>

</html>
