<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Lec02 Get!</h1>

  <div th:if="${login_user}">
    [[${login_user}]]
  </div>

  <h2>エントリー</h2>
  <p th:if="${userinfo}">
  <ul>
    <div th:each="user : ${userinfo}">
      <li><a th:href="@{/lec02/match(id=${user.id},id2=${player.id})}">[[${user.name}]]</a></li>
    </div>
  </ul>
  </p>

  <h2>アクティブな試合</h2>
  <p th:if="${match3}">
  <div th:each="m: ${match3}">
    <tr>
      <td>id:[[${m.id}]]</td>
      <td>user1:[[${m.user1}]]</td>
      <td>user2:[[${m.user2}]]</td>
      <td>isActive:[[${m.isActive}]]</td>
    </tr>
  </div>
  </p>

  <p th:if="${match1}">
  <h2>試合状況</h2>
  <div th:each="m : ${match1}">
    id=[[${m.id}]] user1=[[${m.user1}]] user2=[[${m.user2}]] user1Hand=[[${m.user1Hand}]] user2Hand=[[${m.user2Hand}]]
  </div>
  </p>

</body>

</html>
