<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <h1>Match</h1>

  <p th:if="${un1}">
  <div th:if="${login_user}">
    <h2>[[${un1.name}]] VS [[${login_user}]]</h2>
  </div>
  </p>

  <p>
  <div>
    <a th:href="@{/lec02/match2(id1=${un1.id},id2=${un2.id},te=Gu)}">ぐー</a>
    <a th:href="@{/lec02/match2(id1=${un1.id},id2=${un2.id},te=Choki)}">ちょき</a>
    <a th:href="@{/lec02/match2(id1=${un1.id},id2=${un2.id},te=Pa)}">ぱー</a>
  </div>
  </p>

  <div th:if="${result}">
    <a>あなたの手 [[${te}]]</a><br>
    <a>相手の手 [[${cpu}]]</a><br>
    <a>結果 [[${result}]]</a><br>
  </div>

  <p>
    <a href="/lec02/step3">もどる</a>
  </p>
</body>

</html>
