<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>wait</title>

  <script>
    window.onload = function () {
      var sse = new EventSource('/lec02/step2');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        //console.log(event.data);
        //document.getElementById("match_list").textContent = event.data;
        //var match_list = JSON.parse(event.data)
        //match_list = document.getElementById("match_list2").textContent;
        var match_list = JSON.parse(event.data);
        var match_table = "";
        var matchNum = match_list.length;
        var bgn_tr = "<tr>";
        var result = "<td><h2>結果</h2></td>"
        var end_tr = "</tr>";
        var idx = "<td>Match: id " + match_list.id + "</td>";
        var m_user1 = " <td>user1: " + match_list.user1 + "</td>";
        var m_user2 = " <td>user2: " + match_list.user2 + "</td>";
        var m_user1Hand = " <td>user1Hand: " + match_list.user1Hand + "</td>";
        var m_user2Hand = " <td>user2Hand: " + match_list.user2Hand + "</td>";
        match_table = match_table + bgn_tr + result + idx + m_user1 + m_user2 + m_user1Hand + m_user2Hand + end_tr;
        console.log(match_table);
        var p = document.getElementById("match_list");
        p.innerHTML = match_table;
      }
    }
  </script>

</head>

<body>
  <h1>相手の手を待ってます.</h1>

  <div th:if="${logu}">
    [[${logu}]]
  </div>

  <p id="match_list"></p>

  <p>
    <a th:href="@{/lec02/match(id=${m.user2},id2=${m.user1})}">もどる</a>
  </p>
</body>
